<!DOCTYPE html>
<html>
  <head>
    <title><%= "House of #{house_name}" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
    body {
      background-color: <%= background_color %>;
    }
  </style>
  <body>
    <%= yield %>
  </body>
</html>
